<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
    <% if Rails.env.production? -%>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NJ3B6F45');</script>
      <!-- End Google Tag Manager -->
    <% end %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <% if Rails.env.production? -%>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJ3B6F45"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <% end %>
    <%= render partial: 'spree/shared/checkout_header' %>
    <div id="overlay" class="overlay"></div>

    <div data-hook>
      <main id="content" data-hook>
        <%= flash_messages %>
        <%= yield %>
      </main>

      <%= yield :templates %>
    </div>

    <style type="text/css">
      #loading { display: none; position: fixed; align-items: center; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.75); z-index: 99; }
      .loader { border: 16px solid #f3f3f3; border-top: 16px solid #0074c2; border-radius: 50%; width: 80px; height: 80px; animation: spin 2s linear infinite; margin: 0 auto; z-index: 100; }
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    </style>
    <div id="loading">
      <div class="loader"></div>
    </div>
    <script>
      function loading(e) {
        document.getElementById('loading').style.display = "flex";
      }
      document.querySelector("form").addEventListener("submit", loading);
    </script>

    <footer>
      <%= render 'spree/shared/copyright' %>
    </footer>
    <%= render 'spree/shared/translations' %>
  </body>
</html>
