<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%== og_meta_data_tags %>
<%== meta_data_tags %>
<%== meta_robots %>
<%= canonical_tag(current_store.url) %>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<%= stylesheet_link_tag 'spree/frontend/all', media: 'screen', data: { turbo_track: 'reload' } %>
<%= csrf_meta_tags %>

<%= javascript_importmap_tags('application-spree-frontend') %>
<%= render 'spree/shared/paths' %>
<%= render 'spree/shared/locale_and_currency' %>
<%= javascript_include_tag 'spree/frontend/all', defer: true, data: { turbo_track: 'reload' } %>
<%= yield :head %>
